html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #22252E;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ------------------------------------------------------------------------------------------------- */
/* Header Style Start */

.header {
  width: 100%;
  height: 140px;
  margin-top: 0;
  transition: all .4s ease 0s;
}

.header_active {
  margin-top: -43px;
}

.warning {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 40px;
  background: #22252E;
  width: 100%;
}

.warning_wrapper {
  max-width: 610px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 12px 0;
}

.not_protected {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.not_protected_text {
  font-weight: 700;
  font-size: 12px;
  color: #FF8D00;
  margin-left: 4px;
}

.ip {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ip_text {
  font-size: 12px;
  color: #889099;
  margin-right: 32px;
}

.ip_text:last-child {
  margin-right: 0;
}

.learn_more {
  margin-top: -4px;
}

.learn_more_link {
  text-decoration: none;
  font-size: 12px;
  color: #FFF;
  margin-left: 32px;
}

.learn_more_link:hover, .learn_more_link:active, .learn_more_link:focus {
  color: #FF8D00;
}

.warning_cross {
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  right: 20px;
  top: 20px;
  z-index: 10;
}

.close {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.warning_cross_line1 {
  background: #889099;
  position: absolute;
  width: 100%;
  height: 2px;
  right: 0;
  top: 0;
  transform: rotate(45deg);
}

.close:hover .warning_cross_line1 {
  background:#fff
}

.warning_cross_line2 {
  background: #889099;
  position: absolute;
  width: 100%;
  height: 2px;
  right: 0;
  top: 0;
  transform: rotate(-45deg);
}

.close:hover .warning_cross_line2 {
  background:#fff
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 20px 0;
}

.company_name {
 display: flex; 
 align-items: center;
}

.company_name_link {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.header_nav {
  margin-top: 10px;
}

.header_list {
  display: flex;
  list-style: none;
}

.header_item {
  margin-right: 30px;
}

.header_item:last-child {
  margin-right: 0;
}

.header_links {
  display: flex;
  align-items: center;
}

.header_link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
}

.arrow_down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #323642;
  margin-left: 5px;
  margin-bottom: 10px;
}

.line {
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 6px;
  height: 3px;
  background: #4CB649;
  transform: scale(0);
  transition: all .2s ease 0s;
}

.header_link:hover .line, .header_link:active .line, .header_link:focus .line {
  transform: scale(1);
}

.header_link_active .line {
  transform: scale(1);
}

.login {
  min-width: 92px;
  height: 40px;
  background: #fff;
  border: 1px solid #4CB649;
  border-radius: 30px;
  color: #4CB649;
  padding: 10px 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.8px;
}

.login:hover, .login:focus {
  background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
  border: none;
  color: #fff;
}

.login:active {
  background: linear-gradient(180deg, #4CB649 0%, #5DDF5A 100%);
  border: none;
  color: #fff;
}

.get_started {
  height: 40px;
  background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
  border: none;
  border-radius: 30px;
  color: #fff;
  padding: 10px 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.8px;
  margin-left: 10px;
}

.get_started:active {
  background: linear-gradient(180deg, #4CB649 0%, #5DDF5A 100%);
  border: none;
  color: #fff;
}

/* Header Style End */
/* ------------------------------------------------------------------------------------------------- */
/* Intro Style Start */

.article_block {
  display: flex;
  align-items: center;
  margin-top: 20px;
  min-height: 400px;
  border: 1px solid #D7D8D9;
  border-radius: 6px;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.101961));
  background: #fff;
  overflow: hidden;
}

.block_image {
 height: 400px;
}

.article_block_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article_block_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 600px;
  margin: 60px 30px 40px 30px;
}

.article_block_article {
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #22252E;
  margin: 0 30px;
}

.article_block_description {
  margin: 0 30px;
}

.article_block_autor {
  display: flex;
}

.autor {
  font-size: 14px;
  line-height: 22px;
  color: #323642;
  margin-right: 12px;
}

.date {
  font-size: 14px;
  line-height: 22px;
  color: #889099;
  margin-right: 12px;
}

.description {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4CB649;
  margin: 12px 0;
}

.comments {
  display: flex;
}

.comments_number {
  font-size: 14px;
  line-height: 22px;
  color: #889099;
  margin-left: 10px;
}

/* Intro Style End */
/* ------------------------------------------------------------------------------------------------- */
/* Tags Nav Style Start */

.tags_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F7F7F7;
  border-radius: 4px;
  margin: 30px 0 40px;
  padding: 20px 30px;
}

.tags_nav_text {
  display: flex;
  align-items: center;
}

.tags {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
  margin-right: 46px;
}

.tags_list {
  display: flex;
  list-style: none;
}

.tags_list_item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4CB649;
  margin-right: 36px;
}

.team_contact {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
}

.contact {
  margin-left: 38px;
}

/* Tags Nav Style End */
/* ------------------------------------------------------------------------------------------------- */
/* Blog Style Start */

.blog {
  display: flex;
  align-items: flex-start;
  margin-bottom: 70px;
}

.blog_posts {
  min-width: 740px;
}

.blog_search_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog_posts_title {
  font-weight: 300;
  font-size: 32px;
  line-height: 44px;
  color: #22252E;
  margin-bottom: 40px;
}

.search_1 {
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #D7D8D9;
  border-radius: 4px;
  margin-bottom: 40px;
  display: none;
}

.blog_post {
  display: flex;
  height: 180px;
}

.blog_post_image {
  max-width: 280px;
  height: 100%;
  object-fit: cover;
}

.blog_post_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -8px;
  margin-left: 40px;
}

.blog_post_article {
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #22252E;
}

.blog_post_autor {
  display: flex;
}

.post_autor {
  font-size: 14px;
  line-height: 22px;
  color: #323642;
  margin-right: 12px;
}

.post_date {
  font-size: 14px;
  line-height: 22px;
  color: #889099;
  margin-right: 12px;
}

.post_description {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4CB649;
  margin: 8px 0;
}

.post_comments {
  display: flex;
}

.post_comments_number {
  font-size: 14px;
  line-height: 22px;
  color: #889099;
  margin-left: 10px;
}

.horizontal_line {
  width: 100%;
  height: 1px;
  background: #EBECED;
  margin: 30px 0 30px 0;
}

.older_posts_button {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.older_posts {
  height: 40px;
  background: #fff;
  border: 1px solid #4CB649;
  border-radius: 30px;
  color: #4CB649;
  padding: 10px 80px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.older_posts:hover, .older_posts:focus {
  background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
  border: none;
  color: #fff;
}

.older_posts:active {
  background: linear-gradient(180deg, #4CB649 0%, #5DDF5A 100%);
  border: none;
  color: #fff;
}

.vertical_line {
  width: 1px;
  height: 100rem;
  background: #EBECED;
  margin: 0 60px;
}

.vertical_line-2 {
  display: none;
  width: 1px;
  background: #EBECED;
  margin: 0 36px;
}

.side_bar {
  max-width: 340px;
}

.search {
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #D7D8D9;
  border-radius: 4px;
  margin-bottom: 30px;
}

.search_button {
  margin: 20px;
}

.search_blog {
  border: none;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #22252E;
  padding: 12px 0;
}

.Announcements_head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.Announcements_title {
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #22252E;
  margin-left: 20px;
}

.Announcements_list {
  font-weight: 400;
  font-size: 14px;
  color: #4CB649;
  padding-left: 18px;
}

.Announcements_list li {
  margin-bottom: 16px;
}

.Announcements_list li:last-child {
  margin-bottom: 0;
}

.list_content {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #323642;
}

.tag_cloud {
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #22252E;
  margin: 50px 0 15px 0;
}

/* Blog Style End */
/* ------------------------------------------------------------------------------------------------- */
/* Sign Up Today Style Start */

.sign_up {
  width: 100%;
  background: linear-gradient(135deg, #3D4251 0%, #272B35 100%);
  padding: 100px 0 60px 0;
}

.sign_up_title {
  font-weight: 300;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #FFF;
  margin-bottom: 40px;
}

.sign_up_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 380px;
}

.sign_up_card_1 {
  min-width: 380px;
  height: 340px;
  background: #FFFFFF;
  border: 1px solid #EBECED;
  border-radius: 6px;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.501961));
  padding: 50px 0 40px 0;
}

.sign_up_card_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #323642;
}

.card_line {
  width: 24px;
  height: 2px;
  background: #4CB649;
  margin: 12px auto 16px auto;
}

.sign_up_card_price {
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 0 auto;
}

.card_currency {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #22252E;
  margin-top: 10px;
}

.card_price {
  font-weight: 300;
  font-size: 56px;
  line-height: 66px;
  letter-spacing: -1.5px;
  color: #22252E;
  margin: 0 6px;
}

.card_time {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #22252E;
  margin-top: 30px;
}

.card_line_price {
  width: 200px;
  height: 1px;
  background: #EBECED;
  margin: 20px auto 0;
}

.card_description {
  margin: 15px 0 30px 0;
}

.card_description_3 {
  margin: 14px 0 16px 0;
}

.sign_up_card_description {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #323642;
}

.sign_up_card_description_1 {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #323642;
  margin: 26px 0;
}

.old_price {
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: line-through;
  color: #F24458;
  margin-right: 8px;
}

.price_save {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #323642;
}

.card_button {
  display: flex;
  justify-content: center;
}

.card_button_sign_up {
  height: 40px;
  background: #fff;
  border: 1px solid #4CB649;
  border-radius: 30px;
  color: #4CB649;
  padding: 10px 74px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.card_button_sign_up:hover {
  background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
  border: none;
  color: #fff;
}

.card_button_sign_up:active {
  background: linear-gradient(180deg, #4CB649 0%, #5DDF5A 100%);
  border: none;
  color: #fff;
}

.card_button_sign_up_2 {
  height: 40px;
  background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
  border: none;
  border-radius: 30px;
  color: #fff;
  padding: 10px 74px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.card_button_sign_up_2:active {
  background: linear-gradient(180deg, #4CB649 0%, #5DDF5A 100%);
}

.sign_up_card_2 {
  min-width: 380px;
  height: 380px;
  background: #FFFFFF;
  border: 4px solid #4CB649;
  border-radius: 4px;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.501961));
  padding: 50px 0 60px 0;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.pay {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #FFF;
}

.logos_group {
  display: flex;
  align-items: center;
}



.logo {
  margin: auto 0 auto 30px;
}

.how_to {
  max-width: 455px;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

.how_to_block {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.how_to_pay {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4CB649;
  margin-right: 8px;
}

.arrow_right {
  transition: all .1s ease 0s;
}

.how_to_block:hover .arrow_right {
  transform: translateX(8px);
}

/* Sign Up Today Style End */
/* ------------------------------------------------------------------------------------------------- */
/* Footer Style Start */

.footer {
  padding: 90px 0 30px 0;
}

.footer_company_name {
  margin-bottom: 60px;
}

.footer_company_name_link {
  text-decoration: none;
  font-size: 27px;
  color: #000;
}

.footer_bloks {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer_block_title {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
  margin-bottom: 18px;
}

.footer_block_social_1 {
  display: none;
}

.footer_block_title_1 {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
  margin-bottom: 18px;
}

li a {
  text-decoration: none;
  color: #889099;
}

.footer_block_list {
  list-style: none;
  font-size: 14px;
  line-height: 30px;
  color: #889099;
  margin-bottom: 60px;
}

.footer_block_article {
  max-width: 600px;
}

.footer_block_article_1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #889099;
}

.footer_block_article_2 {
  font-size: 12px;
  line-height: 16px;
  color: #889099;
  margin-bottom: 40px;
}

.footer_ligos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 330px;
}

.footer_ligos_1 {
  width: 150px;
}

.block_logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}

/* Footer Style End */
/* ------------------------------------------------------------------------------------------------- */
/* Media Start */

@media (max-width: 1200px) {
  .wrapper {
    max-width: 1010px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .tags_list_item a {
    margin-right: 30px;
  }

  .blog_posts {
    min-width: 600px;
  }

  .blog_post_image {
    max-width: 220px;
  }

  .vertical_line {
    margin: 0 30px;
  }

  .sign_up_card_1 {
    min-width: 312px;
  }

  .sign_up_card_2 {
    min-width: 312px;
  }

  .footer_block_article {
    max-width: 485px;
  }

}

@media (max-width: 992px) {
  .wrapper {
    max-width: 790px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .company_name_link {
    font-size: 16px;
  }

  .header_link {
    font-size: 12px;
  }

  .login {
    height: 36px;
    padding: 8px 16px;
    font-size: 12px;
  }

  .get_started {
    height: 36px;
    padding: 8px 16px;
    font-size: 12px;
  }

  .article_block_item {
    height: 340px;
    margin: 30px;
  }

  .header_item {
    margin-right: 20px;
  }

  .tags_nav {
    padding: 20px 20px;
  }

  .tags {
    font-size: 12px;
    margin-right: 15px;
  }

  .tags_list_item a {
    font-size: 12px;
    margin-right: 18px;
  }

  .team_contact {
    font-size: 12px;
  }

  .contact {
    margin-left: 15px;
  }

  .search_1 {
    display: block;
  }

  .search {
    display: none;
  }

  .blog {
    flex-wrap: wrap;
  }

  .blog_post_image {
    max-width: none;
  }

  .vertical_line {
    display: none;
  }

  .side_bar {
    display: flex;
    justify-content: space-between;
    max-width: none;
    margin-top: 70px;
  }

  .vertical_line_2 {
    display: block;
  }

  .Announcements_wrapper {
    width: 340px;
  }

  .sign_up_title {
    font-size: 38px;
  }

  .sign_up_card_1 {
    min-width: 234px;
    height: 290px;
    padding-top: 20px;
  }

  .sign_up_card_2 {
    min-width: 234px;
    height: 330px;
    padding-top: 20px;
  }

  .pay {
    font-size: 14px;
  }

  .logo {
    margin: auto 0 auto 18px;
    max-width: 80px;
  }

  .footer_block_article {
    max-width: none;
  }

  .footer_bloks {
    flex-wrap: wrap;
  }

  .footer_block_social_1 {
    display: block;
  }

  .footer_block_social {
    display: none;
  }

}

@media (max-width: 767px) {
  .wrapper {
    max-width: none;
    margin: 0 auto;
    padding: 0 20px;
  }
  .header_active {
    margin-top: -68px;
  }

  .header_burger {
    width: 24px;
    height: 16px;
    position: relative;
    margin-right: 24px;
  }
  
  .burger_line {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #22252E;
  }
  
  .burger_line_first {
    top: 0;
  }
  
  .burger_line_second {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .burger_line_third {
    bottom: 0;
  }

  .header_nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    padding: 60px 60px;
    margin-top: 0;
    transform: translateX(-100%);
    transition: .2s all linear;
  }

  .header_nav_active {
    transform: translateX(0);
  }

  .header_list {
    display: block;
  }

  .header_item {
    width: 100%;
  }

  .header_links {
    margin-bottom: 20px;
  }

  .header_link {
    font-size: 24px;
    line-height: 32px;
  }

  .header_nav_close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .header_nav_close_line {
    display: block;
    width: 100%;
    height: 2px;
    background: #22252E;
    position: absolute;
    top: 50%;
  }

  .header_nav_close_line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .header_nav_close_line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  .warning_wrapper {
    max-width: 320px;
  }

  .ip {
    order: 3;
    margin-top: 10px;
  }

  .ip_text {
    margin-right: 16px;
  }

  .header_wrapper {
    margin: 16px 0 20px 0;
  }

  .login {
    display: none;
  }
  
  .article_block {
    display: block;
    margin-bottom: 40px;
  }

  .article_block_item {
    padding: 30px;
    margin: 0;
    display: block;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .article_block_article {
    margin: 0 0 20px;
  }

  .article_block_description {
    margin: 0;
  }

  .tags_nav {
    display: none;
  }

  .blog_posts {
    min-width: 280px;
  }

  .blog_search_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .posts_title {
    order: 2;
  }

  .search_1 {
    display: flex;
    width: 100%;
  }

  .search_blog {
    width: 100%;
  }

  .blog_post {
    display: block;
    height: 100%;
  }

  .blog_post_image {
    width: 100%;
    margin-bottom: 20px;
  }

  .blog_post_item {
    display: block;
    margin-top: 0;
    margin-left: 0;
  }

  .blog_post_article {
    margin-bottom: 20px;
  }
  .horizontal_line {
    margin: 20px 0 20px 0;
  }

  .older_posts {
    padding: 10px 108px;
  }

  .older_posts_button {
    padding: 40px 0;
  }

  .side_bar {
    display: block;
    width: 100%;
    margin-top: 20px;
  }

  .Announcements_wrapper {
    width: 100%;
  }

  .big_brothers {
    width: 100%;
  }

  .tag_cloud_img {
    width: 100%;
  }

  .sign_up {
    padding: 60px 0 40px 0;
  }

  .sign_up_title {
    font-size: 32px;
  }

  .sign_up_cards {
    display: block;
    height: 100%;
  }

  .sign_up_card_1 {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    margin-bottom: 20px;
  }

  .sign_up_card_2 {
    min-width: 100%;
    height: 100%;
    padding-top: 40px;
    margin-bottom: 20px;
    border: 4px solid #FF8D00;
  }

  .card_button_sign_up_2 {
    background: linear-gradient(0deg, #FF8D00 3.81%, #FFA400 97.78%);
  }

  .card_button_sign_up_2:active {
    background: linear-gradient(180deg, #FF8D00 3.81%, #FFA400 97.78%);
  }

  .logos {
    display: block;
  }

  .pay {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }

  .logos_group {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .logo {
    display: block;
    margin: auto 26px auto 0;
    max-width: 100%;
  }

  .how_to {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

  .how_to_block {
    margin-top: 30px;
  }

  .footer_company_name_link {
    font-size: 18px;
  }

  .footer {
    padding: 40px 0 40px 0;
  }

  .footer_company_name {
    margin-bottom: 54px;
  }

  .footer_block_1 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer_block_list {
    min-width: 140px;
  }

  .footer_block_article_2 {
    margin-bottom: 0;
  }

}

@media (max-width: 393px) {
  .learn_more {
    margin-right: 20px;
  }
}

/* Media End */